section.footer
    .container
        .line
        .row
            .col-xl-5.col-6
                .footer-left
                    ul
                        li
                            a(href='#') &copy; 2019
                        li
                            a(href='#') Roy Design
                        li
                            a(href='#') All Rights Reserved
            .col-xl-7.col-6
                .footer-right
                    ul
                        li
                            a(href='#') About Company
                        li
                            a(href='#') Privacy Policy
                        li
                            a(href='#') Help Center
                        li
                            a(href='#') Terms
                        li
                            a(href='#') Site Map
