section.mainpage
    .container
        .header
            .row
                .col-1.col-sm-7.col-lg-5.col-xl-5
                    .header-logo
                        | drop
                .col-10.col-sm-5.col-lg-5.col-xl-5
                    nav
                        .burger
                            i.fas.fa-bars
                        ul
                            li
                                a(href='#') Home
                            li
                                a(href='#') Services
                            li
                                a(href='#') Product
                            li
                                a(href='#') Contact
                            li
                                a.sign-btn(href='#') Sign in
                .col-1.col-sm-1.col-lg-2.col-xl-2
                    .header-btn
                        button.header-btn__button Sign in
        .home
            .row
                .col-xl-6.col-lg-12.col-md-12
                    .home-text
                        h1.home-text__title Education for all
                        p.home-text__desc
                            | A bank is a financial institution that accepts deposits from the
                            br
                            | public and creates credit. For all of your financial needs
                        a.home-text__button(href='#') Read more
                .col-xl-6.col-lg-12.col-md-12
                    .home-hero
                        img(src='../../images/img-child.png' alt='')
