section.sectiontwo
    .container
        .row
            .col-xl-6.col-md-12.col-lg-5
                .about
                    .about__title
                        h2
                            | Welcome to Eduin university,
                            | Constant self-improvement
                            | as an instructor.
                    .about__desc
                        p
                            | Education City is initiative of our Qatar Foundation for Education, Science and Community Development. Education City initiative of our Qatar Foundation for Education, Science and Community
                            | Development.
                    .about__desc
                        p
                            | Education City is initiative of our Qatar Foundation for Education, Science and Community Development. Education City initiative of our Qatar Foundation for Education.
                    button.about__btn Get started
            .col-xl-6.col-md-12.col-lg-7
                img.student(src='../../images/student.png' alt='')
