section.service
    .container
        .row
            .col-xl-4
                .service-block
                    .service-block__img-one
                        img(src='../../images/man.png' alt='')
                    .service-block__title
                        h3 Global Student
                    .service-block__text
                        | Education City is initiative of our Qatar Foundation for Education, Science Community Development.
            .col-xl-4
                .service-block
                    .service-block__img-two
                        img(src='../../images/head.png' alt='')
                    .service-block__title
                        h3 Success Rate
                    .service-block__text
                        | Education City is initiative of our Qatar Foundation for Education, Science Community Development.
            .col-xl-4
                .service-block
                    .service-block__img-three
                        img(src='../../images/hat.png' alt='')
                    .service-block__title
                        h3 Education Services
                    .service-block__text
                        | Education City is initiative of our Qatar Foundation for Education, Science Community Development.
