.form {
  display: none;
  width: 400px;
  height: 255px;
  background-color: #ff5f60;
  text-align: center;
  padding-top: 100px;
  position: absolute;
  top: -100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px -12px #183251;
  box-shadow: 0px -12px #183251;
  z-index: 99;
}
.form-title {
  top: -40px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.6px;
  position: relative;
  &:after {
    content: "";
    height: 1px;
    width: 76px;
    position: absolute;
    top: 40px;
    left: 163px;
    background-color: #fff;
  }
}
.form-small {
  opacity: 0.5;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.form-input {
  outline: none;
  border-radius: 23px;
  background-color: #ffffff;
  padding: 10px 13px;
  border: none;
  text-align: center;
  margin-left: 15px;
  z-index: 0;
  position: relative;
  &:active {
    outline: none;
    outline-offset: 0;
  }
  &:hover {
    outline: none;
    outline-offset: 0;
  }
  &:focus {
    outline: none;
    outline-offset: 0;
  }
}
.cube{
  position: absolute;
  z-index: 1;
  transform: rotate(90deg);
  margin-top: -310px;
  margin-left: -450px;
}
.form-submit {
  outline: none;
  background: url("../../images/btn_bg.png") center no-repeat;
  height: 80px;
  width: 80px;
  opacity: 1;
  margin-left: -30px;
  border: none;
  z-index: 5;
  position: relative;
  &:active {
    outline: none;
    outline-offset: 0;
  }
  &:hover {
    outline: none;
    outline-offset: 0;
  }
  &:focus {
    outline: none;
    outline-offset: 0;
  }
}

.carousel {
  padding-top: 50px;
  max-width: 543px;
  margin: 0 auto;
}
.carousel-text {
  margin-top: 40px;
  text-align: center;
  color: #222222;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  max-width: 543px;
  min-height: 79px;
}
.carousel-small {
  text-align: center;
  color: #fb8122;
  font-family: "Poppins - Semi Bold" , sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 2px;
}

.circles__block{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  margin-right: 240px;
}

.circles{
  height: 10px;
  width: 10px;
  background: #8c8c8c;
  border-radius: 50%;

  &:hover{
    background: #fb8122;
  }
}